cmake-build-*
.idea
TEST_DATA
build/.vs/cmake.db
build/.vs/ProjectDS/v16/.suo
build/.vs/ProjectDS/v16/Browse.VC.db
build/.vs/ProjectDS/v16/Browse.VC.db-shm
build/.vs/ProjectDS/v16/Browse.VC.db-wal
build/.vs/ProjectDS/v16/Browse.VC.opendb
build/.vs/ProjectDS/v16/ipch/AutoPCH/adde025c263aa048/ARCHIVE_MANAGER.ipch
build/.vs/ProjectDS/v16/Solution.VC.db
build/.vs/ProjectDS/v16/Solution.VC.db-shm
build/.vs/ProjectDS/v16/Solution.VC.db-wal
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/cmake_subprojects/glad/ALL_BUILD.vcxproj
build/cmake_subprojects/glad/ALL_BUILD.vcxproj.filters
build/cmake_subprojects/glad/cmake_install.cmake
build/cmake_subprojects/glad/CMakeFiles/generate.stamp
build/cmake_subprojects/glad/CMakeFiles/generate.stamp.depend
build/cmake_subprojects/glad/Debug/glad.lib
build/cmake_subprojects/glad/Debug/glad.pdb
build/cmake_subprojects/glad/glad.dir/Debug/glad.lib.recipe
build/cmake_subprojects/glad/glad.dir/Debug/glad.log
build/cmake_subprojects/glad/glad.dir/Debug/glad.obj
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/CL.command.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/CL.read.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/CL.write.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/CustomBuild.command.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/CustomBuild.read.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/CustomBuild.write.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/glad.lastbuildstate
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/Lib-link.read.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/Lib-link.write.1.tlog
build/cmake_subprojects/glad/glad.dir/Debug/glad.tlog/Lib.command.1.tlog
build/cmake_subprojects/glad/glad.sln
build/cmake_subprojects/glad/glad.vcxproj
build/cmake_subprojects/glad/glad.vcxproj.filters
build/cmake_subprojects/glad/INSTALL.vcxproj
build/cmake_subprojects/glad/INSTALL.vcxproj.filters
build/cmake_subprojects/hash/ALL_BUILD.vcxproj
build/cmake_subprojects/hash/ALL_BUILD.vcxproj.filters
build/cmake_subprojects/hash/cmake_install.cmake
build/cmake_subprojects/hash/CMakeFiles/generate.stamp
build/cmake_subprojects/hash/CMakeFiles/generate.stamp.depend
build/cmake_subprojects/hash/Debug/hash.lib
build/cmake_subprojects/hash/Debug/hash.pdb
build/cmake_subprojects/hash/hash.dir/Debug/hash.lib.recipe
build/cmake_subprojects/hash/hash.dir/Debug/hash.log
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/CL.command.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/CL.read.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/CL.write.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/CustomBuild.command.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/CustomBuild.read.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/CustomBuild.write.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/hash.lastbuildstate
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/Lib-link.read.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/Lib-link.write.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/hash.tlog/Lib.command.1.tlog
build/cmake_subprojects/hash/hash.dir/Debug/md5.obj
build/cmake_subprojects/hash/hash.dir/Debug/MurmurHash3.obj
build/cmake_subprojects/hash/hash.sln
build/cmake_subprojects/hash/hash.vcxproj
build/cmake_subprojects/hash/hash.vcxproj.filters
build/cmake_subprojects/hash/INSTALL.vcxproj
build/cmake_subprojects/hash/INSTALL.vcxproj.filters
build/cmake_subprojects/imgui/ALL_BUILD.vcxproj
build/cmake_subprojects/imgui/ALL_BUILD.vcxproj.filters
build/cmake_subprojects/imgui/cmake_install.cmake
build/cmake_subprojects/imgui/CMakeFiles/generate.stamp
build/cmake_subprojects/imgui/CMakeFiles/generate.stamp.depend
build/cmake_subprojects/imgui/Debug/imgui.lib
build/cmake_subprojects/imgui/Debug/imgui.pdb
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.lib.recipe
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.log
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.obj
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/CL.command.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/CL.read.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/CL.write.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/CustomBuild.command.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/CustomBuild.read.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/CustomBuild.write.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/imgui.lastbuildstate
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/Lib-link.read.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/Lib-link.write.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui.tlog/Lib.command.1.tlog
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui_draw.obj
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui_impl_glfw.obj
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui_impl_opengl3.obj
build/cmake_subprojects/imgui/imgui.dir/Debug/imgui_widgets.obj
build/cmake_subprojects/imgui/imgui.sln
build/cmake_subprojects/imgui/imgui.vcxproj
build/cmake_subprojects/imgui/imgui.vcxproj.filters
build/cmake_subprojects/imgui/INSTALL.vcxproj
build/cmake_subprojects/imgui/INSTALL.vcxproj.filters
build/cmake_subprojects/oodle/ALL_BUILD.vcxproj
build/cmake_subprojects/oodle/ALL_BUILD.vcxproj.filters
build/cmake_subprojects/oodle/cmake_install.cmake
build/cmake_subprojects/oodle/CMakeFiles/generate.stamp
build/cmake_subprojects/oodle/CMakeFiles/generate.stamp.depend
build/cmake_subprojects/oodle/Debug/oodle.lib
build/cmake_subprojects/oodle/Debug/oodle.pdb
build/cmake_subprojects/oodle/INSTALL.vcxproj
build/cmake_subprojects/oodle/INSTALL.vcxproj.filters
build/cmake_subprojects/oodle/oodle.dir/Debug/Kraken.obj
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.lib.recipe
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.log
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/CL.command.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/CL.read.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/CL.write.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/CustomBuild.command.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/CustomBuild.read.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/CustomBuild.write.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/Lib-link.read.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/Lib-link.write.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/Lib.command.1.tlog
build/cmake_subprojects/oodle/oodle.dir/Debug/oodle.tlog/oodle.lastbuildstate
build/cmake_subprojects/oodle/oodle.sln
build/cmake_subprojects/oodle/oodle.vcxproj
build/cmake_subprojects/oodle/oodle.vcxproj.filters
build/CMakeCache.txt
build/CMakeFiles/0a125a768b70408370de015178d37813/INSTALL_force.rule
build/CMakeFiles/3.21.2/CMakeCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeSystem.cmake
build/CMakeFiles/3.21.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.21.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.2/VCTargetsPath.txt
build/CMakeFiles/3.21.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/4dfa5791844bef9f63fc6603bb3febaa/INSTALL_force.rule
build/CMakeFiles/6bf2f70b6f84e27e29247920650a66c8/generate.stamp.rule
build/CMakeFiles/6bf2f70b6f84e27e29247920650a66c8/INSTALL_force.rule
build/CMakeFiles/a2dc4c21037025987e10519f830a85a8/INSTALL_force.rule
build/CMakeFiles/a2dc4c21037025987e10519f830a85a8/uninstall.rule
build/CMakeFiles/b69d643ea6446e183af6510eeb591875/INSTALL_force.rule
build/CMakeFiles/cbd05d64474b6d84b26d812efd979552/INSTALL_force.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/f80c43a3a4c6c21ad42e983622494a89/INSTALL_force.rule
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/libs/glfw/ALL_BUILD.vcxproj
build/libs/glfw/ALL_BUILD.vcxproj.filters
build/libs/glfw/cmake_install.cmake
build/libs/glfw/cmake_uninstall.cmake
build/libs/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-debug.cmake
build/libs/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-minsizerel.cmake
build/libs/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-release.cmake
build/libs/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-relwithdebinfo.cmake
build/libs/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
build/libs/glfw/CMakeFiles/generate.stamp
build/libs/glfw/CMakeFiles/generate.stamp.depend
build/libs/glfw/GLFW.sln
build/libs/glfw/INSTALL.vcxproj
build/libs/glfw/INSTALL.vcxproj.filters
build/libs/glfw/src/cmake_install.cmake
build/libs/glfw/src/CMakeFiles/generate.stamp
build/libs/glfw/src/CMakeFiles/generate.stamp.depend
build/libs/glfw/src/Debug/glfw3.lib
build/libs/glfw/src/Debug/glfw3.pdb
build/libs/glfw/src/glfw.dir/Debug/context.obj
build/libs/glfw/src/glfw.dir/Debug/egl_context.obj
build/libs/glfw/src/glfw.dir/Debug/glfw.log
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.command.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.read.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.write.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw3.lib.recipe
build/libs/glfw/src/glfw.dir/Debug/init.obj
build/libs/glfw/src/glfw.dir/Debug/input.obj
build/libs/glfw/src/glfw.dir/Debug/monitor.obj
build/libs/glfw/src/glfw.dir/Debug/osmesa_context.obj
build/libs/glfw/src/glfw.dir/Debug/vulkan.obj
build/libs/glfw/src/glfw.dir/Debug/wgl_context.obj
build/libs/glfw/src/glfw.dir/Debug/win32_init.obj
build/libs/glfw/src/glfw.dir/Debug/win32_joystick.obj
build/libs/glfw/src/glfw.dir/Debug/win32_monitor.obj
build/libs/glfw/src/glfw.dir/Debug/win32_thread.obj
build/libs/glfw/src/glfw.dir/Debug/win32_time.obj
build/libs/glfw/src/glfw.dir/Debug/win32_window.obj
build/libs/glfw/src/glfw.dir/Debug/window.obj
build/libs/glfw/src/glfw.vcxproj
build/libs/glfw/src/glfw.vcxproj.filters
build/libs/glfw/src/glfw3.pc
build/libs/glfw/src/glfw3Config.cmake
build/libs/glfw/src/glfw3ConfigVersion.cmake
build/libs/glfw/src/glfw_config.h
build/libs/glfw/src/INSTALL.vcxproj
build/libs/glfw/src/INSTALL.vcxproj.filters
build/libs/glfw/uninstall.vcxproj
build/libs/glfw/uninstall.vcxproj.filters
build/ProjectDS.dir/Debug/app.obj
build/ProjectDS.dir/Debug/archive.obj
build/ProjectDS.dir/Debug/archive_file.obj
build/ProjectDS.dir/Debug/archive_tree.obj
build/ProjectDS.dir/Debug/collection.obj
build/ProjectDS.dir/Debug/collection_draw.obj
build/ProjectDS.dir/Debug/guid.obj
build/ProjectDS.dir/Debug/handlers.obj
build/ProjectDS.dir/Debug/main.obj
build/ProjectDS.dir/Debug/object.obj
build/ProjectDS.dir/Debug/object_draw.obj
build/ProjectDS.dir/Debug/object_dummy.obj
build/ProjectDS.dir/Debug/prefetch.obj
build/ProjectDS.dir/Debug/prefetch_draw.obj
build/ProjectDS.dir/Debug/ProjectDS.log
build/ProjectDS.dir/Debug/ProjectDS.tlog/CL.command.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/CL.read.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/CL.write.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/CustomBuild.command.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/CustomBuild.read.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/CustomBuild.write.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/ProjectDS.lastbuildstate
build/ProjectDS.dir/Debug/ProjectDS.tlog/unsuccessfulbuild
build/ProjectDS.dir/Debug/projectds_app.obj
build/ProjectDS.dir/Debug/reference.obj
build/ProjectDS.dir/Debug/stream.obj
build/ProjectDS.dir/Debug/string.obj
build/ProjectDS.dir/Debug/texture.obj
build/ProjectDS.dir/Debug/texture_draw.obj
build/ProjectDS.dir/Debug/texture_set.obj
build/ProjectDS.dir/Debug/texture_set_draw.obj
build/ProjectDS.dir/Debug/translation.obj
build/ProjectDS.dir/Debug/translation_draw.obj
build/ProjectDS.dir/Debug/utils.obj
build/ProjectDS.dir/Debug/vc142.pdb
build/ProjectDS.sln
build/ProjectDS.vcxproj
build/ProjectDS.vcxproj.filters
build/ProjectDS.vcxproj.user
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.log
build/ProjectDS.dir/Debug/projectds_app_draw.obj
build/ProjectDS.dir/Debug/ProjectDS.tlog/link.write.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/link.read.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.tlog/link.command.1.tlog
build/ProjectDS.dir/Debug/ProjectDS.ilk
build/ProjectDS.dir/Debug/ProjectDS.exe.recipe
build/ProjectDS.dir/Debug/archive_manager.obj
build/Debug/ProjectDS.pdb
build/Debug/ProjectDS.exe
